<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <system.serviceModel>
    
    <services>
    
      <service name ="Practice.SelfHost.MathService" behaviorConfiguration ="mathServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress ="http://localhost:1331/MathService"/>
          </baseAddresses>
        </host>
        <endpoint address ="http://localhost:1331/MathService" binding ="basicHttpBinding" contract="Practice.SelfHost.IMathService">
        </endpoint>
        <endpoint address ="mex" binding ="basicHttpBinding" contract="IMetadataExchange">
    </endpoint>
      </service>

      <service name ="Practice.SelfHost.EmployeeService" behaviorConfiguration ="EmployeeServiceBehaviour">
        <host>
          <baseAddresses>
            <add baseAddress ="http://localhost:1332/EmployeeService"/>
          </baseAddresses>
        </host>
        <!--<endpoint address ="http://localhost:1332/EmployeeService" binding ="webHttpBinding" contract ="Practice.SelfHost.IEmployeeService" behaviorConfiguration ="web"></endpoint>-->
        <endpoint address ="http://localhost:1332/EmployeeService" binding ="basicHttpBinding" contract ="Practice.SelfHost.IEmployeeService"></endpoint>
        <endpoint address ="mex" binding ="basicHttpBinding" contract="IMetadataExchange"></endpoint>
        
        
      </service>



      <service name ="Practice.SelfHost.CustomerService" behaviorConfiguration ="CustomerServiceBehaviour">
        <host>
          <baseAddresses>
            <add baseAddress ="http://localhost:1333/CustomerService"/>
          </baseAddresses>
        </host>
        <endpoint address ="http://localhost:1333/CustomerService" binding ="basicHttpBinding" contract ="Practice.SelfHost.ICustomerService"></endpoint>
        <endpoint address ="mex" binding ="basicHttpBinding" contract="IMetadataExchange"></endpoint>


      </service>
      
      
      
      
    </services>
  <behaviors>
  <serviceBehaviors>
    <behavior name ="mathServiceBehavior">
      <serviceMetadata  httpGetEnabled ="true"/>
    </behavior>

    <behavior name ="EmployeeServiceBehaviour">
      <serviceMetadata httpGetEnabled ="true"/>
    </behavior>

    <behavior name ="CustomerServiceBehaviour">
      <serviceMetadata httpGetEnabled ="true"/>
    </behavior>
   
  </serviceBehaviors>

    <endpointBehaviors>
      <behavior name ="web">
        <webHttp/>
      </behavior>
    </endpointBehaviors> 
    
  </behaviors>
  
  </system.serviceModel>
</configuration>