
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<span>
    @Resources.Resource.Greetings
</span>
<br />
<span>
    @Resources.Resource.Introduction
</span>