
@{
    ViewBag.Title = "ImageData";
}

<h2>ImageData</h2>

<form action="FileExport/IndexPage" method="post">
    <input type="submit" name="btnSubmit" value="Download" />
</form>
<img src="~/Image/learn.txt" />

